footer{
	background: #343a40;
	color: #fff;
}
#car-head{
	height: 450px;
}
#car-head img{
	width: auto;
	height: 500px;
}
#about-img{
	width: auto;
	height: 270px;
}
.about-us{
	padding: 50px;
	background: #eaeafc;
}
.title-product{
	padding-top:  50px;
	padding-bottom:  50px;
	background: #343A40;
	color: #E6E6E7;
	text-align: center;
}
.product-img img {
	width: auto;
    height: 205px;
   padding: 10px 0px 0px 0px;
}
.tab-content{
	padding-top: 20px;
	padding-bottom: 50px;

}
.products-tab{
	background: #eaeafc;	
}
form{
	margin: 50px;
}
iframe{
	    width: 100% ;
    height: 300px ;
}
